a {
  cursor: pointer;
}

html,
body {
  background: #d6d6ce;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 20px;
  padding: 0;
  width: 96%;
}

.h1 {
  font-size: 0.4em;
  align-content: center;
}
.h4 {
  font-weight: bold;
}
.row {
  text-align: center;
}

.row {
  margin-top: 50px;
  width: 100%;
}

.row .map-col {
  width: 70%;
}
.row .chart-col {
  margin-top: 5%;
  width: 30%;
}
#choro-map {
  margin-top: 50px;
}
.col-2,
#state-info,
#state-chart {
  margin: 0;
  padding: 0;
  width: 100%;
}
